.block {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.prank {
    background-color: black;
    color: rgb(255, 255, 255);
    animation: top 2s infinite;
    text-decoration: none;
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 30px;
    text-transform: initial;
    margin-top: 20px
}
.prank_img {
}